<div class="all-view d-flex flex-column h-100">
    <app-search-bar></app-search-bar>
    
    <div class="row main-window-task flex-grow-1 w-100 m-0 flex-wrap align-content-start flex-lg-nowrap">
        <div class="col-12 col-lg-2 p-0 main-window-task-menu">
            <app-navigation-menu ></app-navigation-menu>
        </div>
    
        <div class="col-12 col-lg-10">
            <div class="container">
                <form #taskFomr="ngForm" (ngSubmit)="onTaskSubmit()">
                    
                    <div class="row mx-2 my-4" *ngIf="task.id != 0">
                        <div class="col-12 col-lg-6">
                            <div class="d-flex justify-content-between gap-3">
                                <div class="form-check d-flex align-items-center gap-2">
                                    <input class="form-check-input btn-complete" type="checkbox" value="" name="completed" id="completed" [(ngModel)]="task.completed">
                                    <label class="form-check-label form-label m-0" for="completed">Complete</label>
                                </div>

                                <hr class="w-100 m-auto">
                    
                                <div>
                                    <button (click)="deleteTask()" type="button" class="btn btn-primary btn-delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                          </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="row mx-2 my-4">
                        <label class="col-12 form-label" for="name">Task Name</label>
            
                        <div class="col-12 col-lg-6">
                            <input class="form-control" type="text" name="name" id="name" [(ngModel)]="task.name">
                            <small *ngIf="errors.has('name')" style="color: red;">{{errors.get('name')}}</small>
                        </div>
                    </div>
                
                    <div class="row mx-2 my-4">
                        <label class="col-12 form-label" for="description">Description</label>
                
                        <div class="col-12 col-lg-6">
                            <input class="form-control" type="text" name="description" id="description" [(ngModel)]="task.description">
                            <small *ngIf="errors.has('description')" style="color: red;">{{errors.get('description')}}</small>
                        </div>
                    </div>    


                    <div class="row mx-2 my-4">
                        <div class="col-12">
                            <div class="d-flex gap-5">
                                <div class="form-check" *ngFor="let priority of priorities">
                                    <label class="form-label form-check-label" [for]="'priority-'+priority.id">{{priority.name}}</label>
                                    <input class="form-check-input" type="radio" [name]="'priority'" [id]="'priority-'+priority.id" [(ngModel)]="task.priorityId" [value]="priority.id">
                                </div>
                            </div>
                            <small *ngIf="errors.has('priorityId')" style="color: red;">{{errors.get('priorityId')}}</small>
                        </div>
                    </div>

                    <div class="row mx-2 my-4">
                        <label class="col-12 form-label" for="dueDate">Due Date</label>
                
                        <div class="col-12 col-lg-6">
                            <input class="form-control" type="datetime-local" name="dueDate" id="dueDate" [(ngModel)]="task.dueDate">
                            <small *ngIf="errors.has('dueDate')" style="color: red;">{{errors.get('dueDate')}}</small>
                        </div>
                    </div>
<!-- 
                    <div class="row mx-2 my-4">
                        <div class="col-12">
                            <div class="d-flex gap-5">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Completado</label>
                                  </div> 
                            </div>
                        </div>
                    </div> -->

                
                    <div class="m-4 row">
                        <input class="col-12 col-sm-3 btn-enviar" type="submit" value="Enviar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

