:host {
    --green-light:#789395;
    --red:#B33030;
    --gray:rgba(33, 37, 41, 0.75);
}

.form-control{
    border-radius: 0;
}

.form-label{
    color: var(--gray);
}

.btn-enviar{
    color: var(--green-light);
    background-color: white;
    border: 1px solid var(--green-light);
}

.btn-enviar:hover{
    color: white;
    background-color: var(--green-light);
    transition: .3s all ease;
}

.btn-complete{
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.btn-complete:checked{
    background-color: var(--green-light);
    border-color: var(--green-light);
}

.btn-delete{
    display: flex;
    padding: 9px;
    background: var(--red);
    border: var(--red);
    border-radius: 55%;
}
