:host {
    --green:#7D9D9C;
    --dark-green:#789395;
    --white:#E5E3C9;
    --red:#B33030;
    --dark-blue:#19282F;
    --muted:rgba(33, 37, 41, 0.75);
    --shadown: rgba(0, 0, 0, .175);
    --border-light: #dee2e6;
}


.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message .title{
    font-size: 200px;
}

.message .title span svg{
    width: 170px;
    height: 170px;
    margin-bottom: 30px;
    color: var(--red);
}

.message small {
    font-size: 25px;
    font-weight: 400;
}

.message .button{
    color: var(--border-link);
    background-color: white;
    border: 1px solid var(--border-link);
    text-decoration: none;
    padding: 10px 30px;
    margin: 15px 0;
}

.message .button:hover{
    color: white;
    background-color: var(--border-link);
    transition: .3s all ease;
}