:host {
    --green-light:#789395;
    --gray:rgba(33, 37, 41, 0.75);
    --red:#B33030;
    --yellow: #E6B325;
}
 
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

* {
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* List task */
.list-tasks{
    border-radius: 0;
}

/* List header */
.list-tasks-header{
    border-top: 2px solid var(--green-light);
}

.more-options{
    border-radius: 0;
}

.delete-option{
    background-color: var(--red);
    color: white;
}


/* List body */
.list-tasks-body, .list-tasks-header{
    padding: 20px 20px;
}

.list-tasks-body a {
    border-radius: 20px;
    border: 1px solid var(--green-light);
    font-size: 10px;
    padding: 10px;
    color: #789395;
}

.list-tasks-body a:hover {
    background: var(--green-light);
    color: #FFF;
    transition: .3s all ease;
}

.form-check-input[type=checkbox] {
    border-radius: 50%;
}

.form-check-input[type=checkbox]:checked{
    background-color: var(--green-light);
    border-color: var(--green-light);
}

/* pagination */

.pagination .page-link {
    color: var(--gray);
}

.pagination .page-item .active{
    background: var(--green-light);
    border: var(--green-light);
}

/* MESSAGES */

.error-message{
    padding: 15px 10px;
    margin: 20px;
    color: var(--gray);
    position: relative;
}

.message-doc{
    width: 250px;
    height: 250px;
    transform: rotate(13deg);
    margin: 30px 0;
}

.message-emoji-dizzi{
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform: translate(-50%, -93%); */
}

.dropdown-item:active{
    background-color: var(--green-light);
}

*{
    border-radius: 0;
}

.modal-content .modal-body input[type ="submit"]:hover {
    background: #FFF;
}

.modal-content{
    border: none;
}

p {
    margin: 0;
}




/* MEDIA QUERIES */

/* Dispositivo xs */
@media screen and (max-width: 320px) {
    
}

/* Small */
@media screen and (max-width:576px) {
    .page-item{
        width: 100%;
        text-align: center;
    }
}

/* Medium */
@media screen and (max-width:768px) {
}

/* Large */
@media screen and (max-width:992px) {
    
}

/* Extra Large */
@media screen and (max-width:1200px) {
    
}