<div class="all-view d-flex flex-column h-100">
    <app-search-bar></app-search-bar>

    <div class="row main-window-task flex-grow-1 w-100 m-0 flex-wrap align-content-start flex-lg-nowrap">
        <div class="col-12 col-lg-2 p-0 main-window-task-menu">
            <app-navigation-menu></app-navigation-menu>
        </div>

        <div class="col-12 col-lg-10">
            <div class="container">
                <h3>{{ inputValue }}</h3>

                <div *ngIf="tasks.length == 0" class="text-center error-message" role="alert">
                    <h3>{{ errorMessage }}</h3>
                </div>

                <ul class="list-group my-4 list-tasks" #taskList>
                    <!-- <div *ngIf="tasks.length > 0"> -->
                    <div>
                        <li class="list-group-item list-tasks-header d-flex justify-content-between">
                            <div class="list-header-title">
                                <h5>{{tittle}}</h5>
                            </div>

                            <div class="dropdown">
                                <a class="dropstart text-muted" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                                        fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                        <path
                                            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                    </svg>
                                </a>

                                <ul class="dropdown-menu more-options">
                                    <li><button type="button" class="dropdown-item delete-option"
                                            (click)="deleteSelectedTasks()">Delete selected tasks</button></li>

                                    <!-- Modal view -->
                                    <li>
                                        <a class="dropdown-item" href="#" type="button" data-bs-toggle="modal"
                                            data-bs-target="#optionsModal">
                                            Filter by date
                                        </a>
                                    </li>

                                </ul>
                            </div>

                            
                            <!-- Modal view -->
                            <div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModal"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal view Header -->
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5 text-center">Selected date</h1>
                                            <button type="button" class="btn-close m-0" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        </div>
                                        <!-- Modal View body-->
                                        <div class="modal-body">
                                            <form (submit)="filterByDate()" class="form-group">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row mb-3">
                                                            <div class="col-12">
                                                                <input type="datetime-local" class="form-control"
                                                                    name="datetimeFilter" id="datetimeFilter"
                                                                    [(ngModel)]="selectedDate">
                                                            </div>
                                                        </div>

                                                        <div class="row justify-content-end">
                                                            <div class="col-12 col-md-4 ">
                                                                <input type="submit" value="Enviar"
                                                                    class="form-control" data-bs-dismiss="modal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                            <!-- <a [routerLink]="['/overdue/',0]">Overdue Tasks</a>
                                            <a [routerLink]="['/task/',0]">All Tasks</a>
                                            <a [routerLink]="['/pending/',0]">Pending Task</a> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item list-tasks-body" *ngFor="let task of tasks">

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <input class="form-check-input me-4" type="checkbox" [name]="'task'+task.id"
                                        [id]="'task'+task.id">

                                    <label class="form-check-label" [htmlFor]="'task'+task.id">
                                        <span class="text-muted">{{ task . name }}</span>
                                    </label>
                                </div>
                                
                                <div class="d-flex gap-5 align-items-center">
                                    <li [ngStyle]="{'color': getPriorityColor(task.priorityId)}">{{task.priority.name}}</li>
    
                                    <a [routerLink]="['/task/ver', task.id]">More Details</a>
                                    <!-- <button (click)="deleteTask(task.id)">Eliminar</button> -->
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>

                <nav aria-label="page navigation">
                    <ul class="pagination justify-content-end m-1">
                        <li class="page-item" *ngFor="let page of pagesRanges">
                            <a class="page-link" *ngIf="currentPage != page" [routerLink]="['/' + state + '/', page]"
                                routerLinkActive="router-link-active">{{ page + 1 }}</a>
                            <span class="page-link page-item active"
                                *ngIf="currentPage == page">{{ page + 1 }}</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
