:host {
    --gray:rgba(33, 37, 41, 0.75);
    --shadown-black: rgba(0, 0, 0, .135);
}

.navbar-logo-title{
    font-size: 27px;
    color: var(--gray);
    text-transform: uppercase;
}

.navbar-logo a{
    text-decoration: none;
    display: block;
    padding: 20px;

}

.navbar-logo{
    text-align: center;
    box-shadow: 0 -1.3rem 3rem var(--shadown-black);
    /* padding: 20px; */
}

.navbar-search{
    position: relative;
    padding: 0;
}

.navbar-search .navbar-search-item {
    height: 80px;
}

.navbar-search .search {
    size: 1;
    border-radius: 0%;
    font-size: 19px;
    padding: 20px 73px;
    box-shadow: 0 1rem 3rem var(--shadown-black);
}

.navbar-search .navbar-collapse svg {
    position: absolute;
    left: 32px;
    top: 26px;
}

/* .navbar-search .button-show-search svg {
    position: absolute;
    left: 32px;
    top: 26px;
} */

