:host {
    --border:#7D9D9C;
    --border-link:#789395;
    --principal:#E5E3C9;
    --red:#B33030;
    --dark-blue:#19282F;
    --muted:rgba(33, 37, 41, 0.75);
    --shadown: rgba(0, 0, 0, .135);
    --border-light: #dee2e6;
}

.navbar-logo-title{
    font-size: 27px;
    color: var(--muted);
    text-transform: uppercase;
}

.navbar-logo a{
    text-decoration: none;
    display: block;
    padding: 20px;

}

.navbar-logo{
    text-align: center;
    box-shadow: 0 -1.3rem 3rem var(--shadown);
    /* padding: 20px; */
}

.navbar-search{
    position: relative;
    padding: 0;
}

.navbar-search .navbar-search-item {
    height: 80px;
}

.navbar-search .search {
    size: 1;
    border-radius: 0%;
    font-size: 19px;
    padding: 20px 73px;
    box-shadow: 0 1rem 3rem var(--shadown);
}

.navbar-search .navbar-collapse svg {
    position: absolute;
    left: 32px;
    top: 26px;
}

/* .navbar-search .button-show-search svg {
    position: absolute;
    left: 32px;
    top: 26px;
} */

