:host {
    --border:#7D9D9C;
    --border-link:#789395;
    --principal:#E5E3C9;
    --red:#B33030;
    --dark-blue:#19282F;
    --muted:rgba(33, 37, 41, 0.75);
    --shadown: rgba(0, 0, 0, .175);
    --border-light: #dee2e6;
}

.nav-task{
    min-height: 100%;
    box-shadow: 0 1rem 3rem var(--shadown);
    /* min-width: 150px;
    max-width: 280px; */
}
 
.item-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 134px;
    gap: 10px;
    border-bottom: 1px solid var(--border-light);
    color: var(--muted);
}

.item-content:hover{
    background-color: var(--border-link);
    color: white;
}

.item-content svg {
    width: 23px;
    height: 23px;
}

.nav-task-items a {
    text-decoration: none;
    /* width: 100%; */
}

.nav-task-items{
    justify-content: space-between;
}


/* MEDIA QUERIES */


/* Dispositivo xs */
@media screen and (max-width: 320px) {
    
}

/* Small */
@media screen and (max-width:576px) {
    .item-content span{
        display: none;
    }
    
    .item-content{
        min-width: auto;
    }
}

/* Medium */
@media screen and (max-width:768px) {
}

/* Large */
@media screen and (max-width:992px) {
    .item-content{
        border: none;
    }

    .nav-task{
        min-height: auto;
        box-shadow: none;
        /* min-width: 150px;
        max-width: 280px; */
    }
}

/* Extra Large */
@media screen and (max-width:1200px) {
    
}




