/* You can add global styles to this file, and also import other style files */
/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

:root {
    --border:#7D9D9C;
    --border-link:#789395;
    --principal:#E5E3C9;
    --red:#B33030;
    --dark-blue:#19282F;
    --muted:rgba(33, 37, 41, 0.75);
    --shadown: rgba(0, 0, 0, .175);
    --border-light: #dee2e6;
}


html, body { height: 100%; } 

.swal2-shown body.swal2-height-auto {
    height: 100% !important; /* O ajusta la altura según sea necesario */
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* BUTTONS */

/* OK OR YES */
/* .button-ok-sweatalert{ */
.swal2-confirm {
    border-radius: 20px ;
    border: 1px solid var(--border-link) ;
    font-size: 1rem ;
    color: var(--border-link) ;
    padding: 0.375rem 0.75rem;
}

.swal2-confirm:hover {
    background: var(--border-link) ;
    color: var(--principal) ;
    transition: .3s all ease ;
    padding: 0.375rem 0.75rem;

}

/* NO OR CANCEL*/
.swal2-cancel{
    border-radius: 20px ;
    border: 1px solid var(--red) ;
    font-size: 1rem ;
    color: var(--red) ;
    padding: 0.375rem 0.75rem;

}

.swal2-cancel:hover {
    background: var(--red) ;
    color: var(--principal) ;
    transition: .3s all ease ;
    padding: 0.375rem 0.75rem;

}

/* FONTS */
.swal2-title {
    font-weight: 200;
}


/* ===== ICONS =====*/

/* ===== ICON WARNIGN =====*/
.swal2-warning {
    color: var(--red) !important;
    border: 2px solid var(--red) !important;
}

/* ===== ICON QUESTION =====*/
.swal2-question {
    color: var(--border-link) !important;
    border: 2px solid var(--border-link) !important;
}

/* ICON SUCCESS */
.swal2-success-ring {
    border: 2px solid var(--border-link) !important;
}

.swal2-success-line-tip, .swal2-success-line-long {
    background: var(--border-link) !important;
}

/* WINDOW OF ALERT */
.swal2-popup{
    border-radius: 0;
}

.swal2-actions{
    gap: 1rem;
}